img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

body {
    background-color: white;
    font-family: Arial;
}

.navbar{
    background: rgba(19, 38, 92);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
}

.navbar h2{
    color: white;
}

.navmenu{
    display: flex;
    align-items: center;
}

.navmenu ul{
    margin-right: 20px;
}

.navmenu li{
    display: inline-block;
}

.navmenu a{
    color: white;
    margin-right:15px;
    font-size:18px;
}

.search{
    padding:8px;
    border-radius:20px;
    border:none;
}
    
.container{
    width:90%;
    margin:40px auto
}

.dashboard{
    background: rgba(19, 38, 92);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    color: white;
}

input{
    padding: 8px;
    margin-top: 10px;
    margin-right: 10px;
}

select{
    padding: 8px;
}

.sort{
    margin:10px 0;
}

#books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: rgba(19, 38, 92);
    border: 1px solid aliceblue;
    padding: 8px;
    border-radius: 12px;
}

.tag {
    padding: 4px 8px;
    border: 1px solid white;
    font-size: 12px;
    font-weight: 600;
    color:white;
}

.book-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px
}

.card p {
    font-size: 14px;
    color: white;
    line-height: 150%
}

button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: black;
    background-color: red;

    margin: 0 auto;
    display: block;

    cursor: pointer;
}

button:focus,
button:hover {
    background-color: palevioletred;
    color:black;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height:fit-content;
    background-color: white;
    color:black;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 600px) {
    
}


#bookList,
#borrowedList,
#books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    align-items: start;
    
}


#bookList .card,
#borrowedList .card,
#books .card {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;
    box-sizing: border-box;
}


#bookList .card img,
#borrowedList .card img,
#books .card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}